---
import { ViewTransitions } from "astro:transitions"
import config from "../config.json"
import logo from "../images/logo.svg?url"
interface Props {
  title?: string
  description?: string
  image?: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const { description, image = "/blog-placeholder-1.jpg" } = Astro.props

const menuTitle =
  Astro.props.title ??
  config.menu.main.find((menuItem) => menuItem.url === Astro.url.pathname)?.name

const title =
  !menuTitle || Astro.url.pathname === "/"
    ? `${Astro.props.title || config.title} | ${config.subtitle}`
    : `${menuTitle} | ${config.title}`
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href={logo} />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<ViewTransitions />

<script>
  document.addEventListener("astro:before-swap", () => {
    sessionStorage.setItem(
      `scrollPosition-${window.location.pathname}`,
      window.scrollY.toString(),
    )
  })

  document.addEventListener("astro:after-swap", () => {
    const scrollPosition = sessionStorage.getItem(
      `scrollPosition-${window.location.pathname}`,
    )
    if (scrollPosition) {
      window.scrollTo({
        top: parseInt(scrollPosition, 10),
        behavior: "instant",
      })
      sessionStorage.removeItem(`scrollPosition-${window.location.pathname}`)
    }
  })
</script>

<style is:global>
  a,
  a:hover {
    @apply text-accent-500;
    text-decoration: none;
  }
</style>
