---
import { Image } from "astro:assets"
import { getCollection } from "astro:content"

const offerings = await getCollection("offerings")
---

<section class="py-8">
  <div>
    <div
      class="grid snap-x snap-proximity grid-cols-[var(--gap)_1fr_var(--gap)] gap-[--gap] overflow-x-scroll overscroll-x-none no-scrollbar [--gap:8px] before:content-end after:content-end lg:[--gap:20px]"
    >
      <div
        class="grid grid-cols-[repeat(var(--cards),90%)] content-start gap-[--gap] lg:grid-cols-[repeat(var(--cards),clamp(800px,40vw,1600px))]"
        style={{ "--cards": offerings.length }}
      >
        {
          offerings.map((offering) => (
            <div class="flex max-h-[600px] snap-center flex-col overflow-hidden rounded-2xl border border-neutral-800 bg-black lg:max-h-96 lg:flex-row">
              <Image
                src={offering.data.image}
                width={280}
                height={300}
                decoding="async"
                loading="lazy"
                alt={offering.data.title}
                class="relative w-full overflow-hidden rounded-2xl object-cover [mask-image:linear-gradient(#000_75%,transparent)] lg:h-full lg:w-1/2 lg:[mask-image:linear-gradient(90deg,#000_75%,transparent)]"
              />

              <div class="flex w-full flex-col content-start gap-6 p-10 lg:w-1/2">
                <h2 class="text-2xl font-semibold">{offering.data.title}</h2>

                <p class="text-sm text-gray-500">{offering.data.description}</p>

                <a
                  class="ml-auto mt-auto rounded-md px-4 py-2 text-sm shadow-sm shadow-accent-600 ring-1 ring-accent-500 duration-200 hover:bg-accent-400/15"
                  href={`/services/${offering.data.rel.slug}`}
                >
                  Learn More
                </a>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
