---
import { baseURL, menu, title } from "../config.json"
import logoFullSVG from "../images/logo-full.svg?url"

import HeaderLink from "./HeaderLink.astro"

const nameForCurrentPath =
  menu.main.find((item) => item.url === Astro.url.pathname)?.name ?? ""
---

<header
  class="sticky top-0 z-20 border-b-0.5 border-white/10 bg-background/65 py-3 backdrop-blur-xl backdrop-saturate-150 md:py-4"
  role="banner"
>
  <div class="mx-auto w-container">
    <div class="relative hidden h-8 items-center justify-between md:flex">
      <a href={baseURL}>
        <img
          class="w-full max-w-24 justify-self-start md:max-w-28"
          src={logoFullSVG}
          alt={title}
        />
      </a>
      <div
        class="absolute left-1/2 flex -translate-x-1/2 flex-nowrap gap-4 overflow-auto"
      >
        {Astro.url.pathname !== "/" && <HeaderLink href="/">Home</HeaderLink>}
        {
          menu.main
            .filter((menuItem) =>
              ["Reports", "Services"].includes(menuItem.name),
            )
            .map((menuItem) => (
              <HeaderLink href={menuItem.url}>{menuItem.name}</HeaderLink>
            ))
        }
      </div>
      <HeaderLink href="/contact">Contact</HeaderLink>
    </div>
  </div>
</header>
