---
import config from "../config.json"
import { Play, VolumeX, Volume1 } from "lucide-astro"

const buttonClasses = `size-3 lg:size-4 rounded-lg lg:rounded-xl py-3 px-4 box-content duration-200 fill-white bg-background/65 hover:bg-background/95 backdrop-blur-xl backdrop-saturate-150`
---

<div
  class="p-6 max-h-[80vh] overflow-hidden mb-14 rounded-3 shadow-lg lg:shadow-2xl duration-200 relative"
  data-poster="{{ $image }}"
  data-url="{{ $video }}"
>
  <video
    class="aspect-video rounded-xl size-full object-cover object-center border-0.5 border-white/10"
    src={config.hero.previewUrl}
    autoplay="true"
    preload="true"
    muted="true"
    loop="true"
    playsinline="true"></video>

  <!-- poster={await import(`../images/${config.hero.image}?url`)} -->
  <div class="flex absolute top-2 right-2 lg:top-8 lg:right-8 gap-3">
    <VolumeX class={buttonClasses} alt="Turn volume on" />
    <!-- <Volume1 alt="Turn volume off" hidden /> -->
    <Play class={buttonClasses} alt="Play" />
  </div>
  <div
    class="static text-sm lg:text-lg py-4 px-6 lg:py-6 lg:px-8 rounded-lg lg:rounded-2xl lg:max-w-3xl lg:absolute bottom-8 right-8 border border-white/10 shadow-lg lg:shadow-none lg:border-none lg:backdrop-blur-xl bg-background/65 font-medium leading-normal"
  >
    {config.HERO_EXCERPT}
  </div>
</div>
