---
import type { CollectionEntry } from "astro:content"
import FormattedDate from "./FormattedDate.astro"
import CategoryBadge from "./CategoryBadge"
import { Picture } from "astro:assets"

type Props = CollectionEntry<"reports"> & { featured?: boolean }

const { featured = false, slug, render, data, id } = Astro.props
const { remarkPluginFrontmatter } = await render()
---

<a
  href={`/reports/${slug}`}
  class:list={[
    "listing group col-span-full w-full rounded-xl transition-all",
    {
      ["lg:col-span-full"]: featured,
      ["lg:col-span-5"]: !featured,
    },
  ]}
>
  <article class:list={["flex w-full flex-col", { ["lg:flex-row"]: featured }]}>
    <div
      class:list={[
        "image relative",
        {
          ["basis-2/3"]: featured,
        },
      ]}
    >
      {data.category && <CategoryBadge id={id} category={data.category} />}
      {
        data.image.src && (
          <Picture
            transition:name={`image-${data.title}`}
            src={data.image}
            alt=""
            class:list={[
              "z-10 aspect-video w-full rounded-lg border border-gray-800 object-cover shadow-lg transition-all duration-200 group-hover:scale-[1.0125] group-hover:shadow-2xl md:h-60",
              { ["md:h-80"]: featured },
            ]}
          />
        )
      }
    </div>
    <div
      class:list={[
        "content rounded-b-lg rounded-l-lg p-6 pt-4 text-foreground transition-all group-hover:bg-black/20 lg:mb-2 lg:pt-8",
        { ["basis-1/3 rounded-bl-none rounded-tl-none"]: featured },
      ]}
    >
      <h2
        class="title m-0 text-2xl font-semibold"
        transition:name={`title-${id}`}
      >
        {data.title}
      </h2>
      {
        data.date instanceof Date && (
          <span class="date" transition:name={`date-${id}`}>
            <FormattedDate date={data.date} />
          </span>
        )
      }
      <!-- <p class="excerpt"><Content /></p> -->
      <span
        transition:name={`readtime-${id}`}
        class="time-to-read mt-3 block whitespace-nowrap text-sm text-accent-500"
      >
        {remarkPluginFrontmatter.minutesRead}
      </span>
    </div>
  </article>
</a>
